* {
    margin: 0;
    padding: 0;
}

.full_wrap {
    margin: 0 140px;
    font-family: Amaranth;
}

.header_line {
    width: 100%;
    height: 8px;
    background-color: #a292b3;
}

.head_wrap {
    margin: 0 auto;
    width: 1623px;
}

.header {
    width: 100%;
    min-height: 71px;
    overflow: hidden;
    padding-top: 32px;
    padding-bottom: 30px
}

.logo {
    width: 300px;
    height: 71px;
    position: relative;
    float: left;

}

.logo h1 {
    float: right;
    padding-top: 12px;
    padding-right: 100px;
    color: #a292b3;
    font-weight: bold;
    font-size: 25pt;
}

.logo h2 {
    font-weight: bold;
    font-size: 22pt;
    padding: 17px 24px;
    font-size: 21pt;
    color: white;
    position: absolute;
}

.menubar {
    float: right;
    width: 60%;
    height: 41px;
}


.menubar ul {
    float: right;
}

.menubar li {
    float: left;
    list-style: none;
    padding-left: 63px;
}

.menubar li:last-child {
    padding-top: 3px;
}

.menubar a {
    text-decoration: none;
    color: #545454;
    font-weight: normal;
    font-size: 20pt;
    transition: .5s;

}

.menubar img {
    padding-right: 10px;
}


.menubar a:hover {
    border-bottom: 5px solid #a292b3;
    background-color: #545454;
    color: white;
}

.slider_wrap {
    width: 1623px;
    min-height: 599px;
    margin: 0 auto;

}

.slider {
    width: 100%;
    height: 599px;
    background-image: url(../images/slider-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
}

.slider_info {
    width: 612px;
    min-height: 145px;
    margin: 0 auto;
    padding-top: 160px;
    padding-bottom: 180px;
    font-weight: normal;

}

.slider_info h1 {
    font-size: 100pt;
    text-shadow: 8px 8px #1D1F21;
}

.slider_info p {
    font-size: 20pt;
}

.nav {
    min-height: 66px;
    width: 1623px;
    overflow: hidden;
    margin: 0 auto;
}


.left_nav {
    float: left;
    width: 36px;
    min-height: 66px;
    background-color: #846C9F;
    position: absolute;
    margin-top: -15%;
}

.left_nav:hover{
    background-color: #141517;
    transition: 1s;
    transform: scale(1.1);
}

.right_nav a:hover{    
    background-color: #141517;
    transition: 1s;
    transform: scale(1.1);
}

.right_nav {
    right: 0px;
    width: 36px;
    min-height: 66px;
    background-color: #846C9F;
    position: absolute;
    margin-top: -15%;
}

.left_nav img {
    padding: 18px 7px;
}

.right_nav img {
    padding: 18px 7px;
}

.content {
    margin: 0 auto;
    margin-top: 40px;
    width: 1170px;
    min-height: 140px;
    border-top: 2px solid #bfbfbf;
    border-bottom: 2px solid #bfbfbf;
    overflow: hidden;
    margin-bottom: 32px;
}

.content p {
    font-size: 22pt;
    text-align: center;
    font-style: italic;
    padding: 0 10px;

}

.banner {
    margin-top: 32px;
    width: 100%;
    min-height: 320px;
    overflow: hidden;
}

.bwrap {
    margin: 0 auto;
    width: 1623px;
    min-height: 200px;
}


.banner_image {
    float: left;
    width: 321px;
    height: 300px;
}

.banner_image img {
    border: 10px solid #dfdfdf;
    border-radius: 150px;
}

.banner_info {
    width: 1280px;
    max-height: 391px;
    float: right;
    color: #505051;
    padding-top: 80px;


}

.banner_info h1 {}

.banner_info p {
    font-weight: normal;
}

.readmore {
    float: right;
    font-style: italic;
}

.featured {
    overflow: hidden
}

.featured h1 {
    font-weight: normal;
    font-size: 24pt;
}

.featured img {
    height: 113px;
    margin: 0 auto;
}

.featured_title {
    padding-bottom: 40px;
}

.footer {
    width: 100%;
    height: 67px;
    background-color: #d5d5d5;
    overflow: hidden;
}

.footer p {
    float: left;
    padding-top: 20px;
}

.social_nav {
    width: 200px;
    min-height: 33px;
    float: right;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 15px;


}

.social_nav img {
    min-height: 35px;
    padding-left: 15px;

}

.lowerfooter {
    width: 100%;
    height: 8px;
    background-color: #a292b3;


}
